*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9% ;
    background: transparent;
    transition: background-color 0.3s;
}

header.sticky{
    padding: 12px 14px;
    background: #071952;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;
}
.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;

}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg ,#6499E9 0% ,#687EFF 28.53%,#362FD9 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0 19%;
}

.hero-text h5 {
    font-size: 14 px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero-text h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 90px;
    line-height: 1;
    color:  white;
    margin:  0 0 45px;
}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 18px;
}

.hero-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-img img {
    width: 370px;
    height: auto;
}

.hero-text a {
    display: inline-block;
    color: white;
    background: #687EFF;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transform: all .55s ease;
}

.hero-text a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.Bought {
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.Bought i {
    vertical-align: middle;
    margin-right: 5px;
}

.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}

.icons i:hover {
    color: #687EFF;
    transform: translateY(-5px);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background:  #071952;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover{
    transform: rotateY( -5px);
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

@media (max-width :1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    
}

.heading {
    text-align: center;
    color: #6499E9;
}

.heading span {
    color: var(--main-color);
    font-weight: 600;
    color: #362FD9;
}

.heading h2 {
    font-size: var(--h2-font);
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    grid-gap:1.5rem;
    align-items: center;
}

.box {
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(245.59deg ,#362FD9 0% ,#6499E9 28.53%,#362FD9 75.52%);;
    padding: 20px;
    border-radius: 0,5rem;
    border-radius: 15px;
}

.menu-container .box:hover {
    outline: 0.5rem solid #071952;
    outline-offset: 0;
    border-radius: 15px;
}

.box-img {
    width: 220px;
    height: 220px;
}

.box-img img {
    width: 100%;
    height: 100%;
}

.box h2 {
    font-size: 1.3rem;
    color: white;
}

.box h3 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}

.box span {
    font-size: var(--p-font);
    color: white;
    font-weight: 600;
}

.box .bx{
    background: #071952;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    color: white;
    border-radius: 0 0.5rem 0 0.5rem;
}


.service-container {
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax(24px,auto));
    grid-gap:1.5rem;
    margin-top: 4rem;
}

.x-box {
    text-align: center;
    padding: 20px 30px;
}

.x-box img {
    width: 90px;
}

.x-box h3 {
    margin: 4px 0 10px;
    color: #362FD9;
    font-size: 1.2rem;
}

.x-box p {
    line-height: 1.7;
}

.main{
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 10px 0;
}

.col {
    width: 25%;
}

.col h4 {
    font-size: 1.2rem;
    color: #362FD9;
}

.col h4 ::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: #6499E9;
}

.col ul li:not(:last-child) {
    margin-bottom: 15px;
}

.col ul li a {
    color: #687EFF;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}

.col ul li :hover {
    color: #362FD9;
    transform: translateX(-12px);
}

.col .kontak {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .kontak a {
    height: 40px;
    width: 40px;
    background: #6499E9;
    color: #362FD9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transform: .5s;
}

.col .kontak a:hover {
    transform: scale(1.2);
    color: #687EFF;
    background: #362FD9;
}

    
